#parentLogin {
    border: solid black 2px;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 10%; */
    gap: 1em;
    /* justify-content: center; */
}

#productTitle {
    margin-top: 2em;
}

#formLogin {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    /* border: solid black 1px; */
}

/* Style elements */

#formLogin > input,
#formLogin > button {
    width: 18em;
    padding: 0;
    border: 0;
    padding: 10px 15px;
    border-radius: 10px;
}


#formLogin > input {
    border: 1px solid lightgray;
}

#formLogin > button {
    border: 1px solid transparent;
    width: 100%;
    background-color: #1877F2;
    color: white;
}
