.registerDiv {
    /* background-color: #1877F2; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formRegister {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    /* border: solid black 1px; */

}

.formRegister > input,
.formRegister > button {
    width: 18em;
    padding: 0;
    border: 0;
    padding: 10px 15px;
    border-radius: 10px;
}

.formRegister > input {
    border: 1px solid lightgray;
}

.formRegister > button {
    border: 1px solid transparent;
    width: 100%;
    background-color: rgb(17, 157, 17);
    /* background-color: #1877F2; */
    color: white;
    cursor: pointer;
}

.formRegister > hr {
    width: 100%;
    border: 1px;
    border-top: 1px solid lightgray;
}

.formRegister > a {
    color: #1877F2;
    font-weight: bold;
}