.parentContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
        "userInfo contactInfo"
        "menuUser content";
}

.parentContainer > * {
    border: 1px solid;
    padding: 5px;
}

#userInfo {
    grid-area: userInfo;
}

#contactInfo {
    grid-area: contactInfo;
}

#menuUser {
    grid-area: menuUser;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#content > * {
    border: 1px solid;
}

.contactCard {
    padding: 5px;
    border: 1px solid;
    margin-top: 3px;
}

.textContactCard {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}